@(mensaje: String)
@login("Acerca de") {
  <div class="form-container">
    <div class="">
      <h1>Versión: 1.0</h1>
      <p>Fecha de publicación: 15/11/2017</p>
      <h1>Colaboradores</h1>
      <ul>
        <li>Martin Laiz Gómez</li>
        <li>Ramsés Martínez Martínez</li>
      </ul>
    </div>
    <p>
    @if(mensaje != "") {
       <div class="alert alert-danger alert-dismissable fade in">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          @mensaje
       </div>
    }
    </p>
  </div>
}
