@(tablero: Tablero, usuario: Usuario, participa: Boolean, mensaje: String)
@nav(usuario.getId(), "Detalle tablero") {
	<div class="w3-container" style="padding-top: 65px ;padding-bottom: 20px">
		<div class="w3-row">
			<div class="mybackground w3-card-2 w3-hover-shadow" style="padding-top: 10px; padding-bottom: 30px;">
				<div class="w3-container">
					<div class="w3-row">  <!-- Titulo -->
						<div class="w3-half">
							<h3 style="color: #313638; line-height: 24px; display: inline-block; margin-top: 3px">
								Tablero <strong>@tablero.getNombre()</strong> creado por <strong>@tablero.getAdministrador().getLogin()</strong>
							</h3>
						</div>
						<div class="w3-half">
							<div class="dropdown" style="float: right">
									<a class="btn btn-default dropdown-toggle btn-lg" style="background-color: transparent; border-color: transparent" type="button" data-toggle="dropdown">
										<span class="glyphicon glyphicon-option-horizontal"></span>
									</a>
									<ul class="dropdown-menu" style="right: 0; left: auto;">
										<li><a href="@routes.EtiquetaController.apuntarseATablero(usuario.getId(), tablero.getId())">
											<span class="glyphicon glyphicon-eye-open"></span>
											Añadir Etiquetas
										</a></li>
									</ul>
							</div>
						</div>
					</div>
					<div class='w3-row-padding'> <!-- Columnas -->
						<div class="w3-col m6 l3" style="padding-top: 10px">  <!-- Tareas pendientes -->
							<div class="mybackgroundcolumn w3-card-2 w3-hover-shadow" style="padding: 15px">
								<div class="">
									<div class="w3-row">
										<h3 style="text-align: center">Tareas Pendientes</h3>
										<hr style="border-color: black">
									</div>
									@for(tarea <- tablero.getTareas()) {
										@if(tarea.getColumna() == null) {
											<div class="w3-row" style="padding-bottom: 5px">
												<div draggable="yes" class="mybackgroundtask w3-card-2 w3-hover-shadow" style="padding: 5px">
													<div class="w3-container">
														<div class="w3-half">
															<div class="w3-row">
																<a href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())" style="font-weight: 600" href="">@tarea.getTitulo()</a>
															</div>
															<div class="w3-row">
																<small class="text-gray d-block pr-6">#@tarea.getId() creada por
																	@if(tarea.getUsuario() == usuario) {
																		<a href="@routes.UsuarioController.detalleUsuario(usuario.getId())" class="text-gray-dark">
																			@tarea.getUsuario().getLogin()
																		</a>
																	} else {
																		@tarea.getUsuario().getLogin()
																	}
																</small>
															</div>
														</div>
														<div style="text-align: right" class="w3-half">
															<div class="w3-row">
																<small class="text-gray d-block pr-6">@tarea.getFechaLimiteString()</small>
															</div>
															<div class="w3-row">
																<a style="color: rgb(153, 155, 45)" href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())" class="btn btn-add btn-md"><span class="glyphicon glyphicon-pencil"></span>
																</a>
																<a onmouseover="" style="cursor: pointer; color: rgb(153, 155, 45);" class="btn btn-add btn-md" onclick="del('@routes.GestionTareasController.borraTarea(tarea.getId())')">
																<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										}
									}
								</div>
							</div>
							<div>
								<a style="color: rgb(153, 155, 45)" href="@routes.GestionTareasController.formularioNuevaTareaTablero(usuario.getId(), tablero.getId())" class="btn-add btn btn-md btn-block sombra"><span class="glyphicon glyphicon-plus"></span>
								</a>
							</div>
						</div>

						<!-- Columnas usuario -->
						@for(columna <- tablero.getColumnas()) {
							<div class="w3-col m6 l3" style="padding-top: 10px">
								<div class="mybackgroundcolumn w3-card-2 w3-hover-shadow" style="padding: 15px">
									<div class='w3-row'>
										<h3 style="text-align: center">@columna.getNombre()</h3>
										<hr style="border-color: black">
									</div>
									@for(tarea <- columna.getTareas()) {
										<div class="w3-row" style="padding-bottom: 5px">
											<div draggable="yes" class="mybackgroundtask w3-card-2 w3-hover-shadow" style="padding: 5px">
												<div class="w3-container">
													<div class="w3-half">
														<div class="w3-row">
															<a href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())" style="font-weight: 600" href="">@tarea.getTitulo()</a>
														</div>
														<div class="w3-row">
															<small class="text-gray d-block pr-6">#@tarea.getId() creada por
																@if(tarea.getUsuario() == usuario) {
																	<a href="@routes.UsuarioController.detalleUsuario(usuario.getId())" class="text-gray-dark">
																		@tarea.getUsuario().getLogin()
																	</a>
																} else {
																	@tarea.getUsuario().getLogin()
																}
															</small>
														</div>
													</div>
													<div style="text-align: right" class="w3-half">
														<div class="w3-row">
															<small class="text-gray d-block pr-6">@tarea.getFechaLimiteString()</small>
														</div>
														<div class="w3-row">
															<a style="color: rgb(153, 155, 45)" href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())" class="btn btn-add btn-md"><span class="glyphicon glyphicon-pencil"></span>
															</a>
															<a onmouseover="" style="cursor: pointer; color: rgb(153, 155, 45);" class="btn btn-add btn-md" onclick="del('@routes.GestionTareasController.borraTarea(tarea.getId())')">
															<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									}
								</div>
								<div>
									<a onclick="del('@routes.TableroController.eliminarColumna(columna.getId())')" class="btn btn-md sombra btn mybtn btn-block"><span class="glyphicon glyphicon-trash"></span>
									</a>
								</div>
							</div>
						}
						<div class="w3-col m6 l3" style="padding-top: 10px">  <!-- Nueva columna -->
							<div class="mybackgroundcolumn w3-card-2 w3-hover-shadow" style="padding: 15px">
								<div class="w3-row">
									<h3 style="text-align: center">Añadir nueva columna</h3>
									<hr style="border-color: black">
								</div>
							</div>
							@helper.form(action = routes.TableroController.nuevaColumna(usuario.getId(), tablero.getId())) {
								<div class="w3-col m8 l8">
									<input type="text" id="nuevaColumnaNombre" name="nuevaColumnaNombre" class="form-control" placeholder="Nombre..."/>
								</div>
								<div class="w3-col m4 l4">
									<button type='submit' style="color: rgb(153, 155, 45)" class="btn-add btn btn-md btn-block sombra"><span class="glyphicon glyphicon-plus"></span></button>
								</div>
							}
						</div>
					</div>
					<div class="w3-row">  <!-- Participantes -->
						<h3 style="text-align: left; padding-bottom: 20px; color: #313638"><strong>Participantes</strong>
							<button id="detalleTablero" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-down"></button>
						</h3>
						<div id="toggle" class="w3-content" style="display: none; padding-bottom: 20px">
							<ul class="w3-ul w3-card-4" style="background-color: white">
								@for(participante <- tablero.getParticipantes()) {
									<li class="w3-bar">
										<img src="https://cdn2.iconfinder.com/data/icons/website-icons/512/User_Avatar-512.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px" />
										<div class="w3-bar-item">
											<span class="w3-large">@participante.getLogin()</span><br>
										</div>
									</li>
								}
							</ul>
						</div>
					</div>
					@if(tablero.getEtiquetas().size() != 0) {
						<div class="w3-row">  <!-- Etiquetas -->
							<h3 style="text-align: left; padding-bottom: 20px; color: #313638"><strong>Etiquetas</strong>
								<button id="second" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-down"></button>
							</h3>
							<div id="toggle2" class="w3-container" style="display: none; padding-bottom: 20px">
								
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
