@(idUsuario: Long, idTarea: Long, titulo: String, fechaLimite: String, idColumna: Long, columnas: List[Columna], mensaje: String)
@nav(idUsuario, "Modificar tarea") {
  <div class="container" style="padding-top: 100px">
    <div class="w3-row">
      <div class="mybackground w3-card-2 w3-hover-shadow" style="padding: 30px">
        <div class="w3-content">
          <div class="w3-row">
            <h1 style="text-align: center; padding-bottom: 20px; color: #313638">Modificar tarea</h1>
            <hr style="border-color: black">
          </div>
          <div class="w3-row">
            @helper.form(action = routes.GestionTareasController.grabaTareaModificada(idTarea)) {
              <fieldset>
                <div class="w3-col m5">
                  <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" name="titulo" id="titulo"
                    placeholder="Introduce un título" value="@titulo" required>
                  </div>
                </div>
                <div class="w3-col m3" style="padding-left: 10px">
                  <div class="form-group">
                    <label for="fechaLimite">Fecha límite:</label>
                    <input type="text" class="form-control" placeholder="dd-mm-aaaa" name="fechaLimite" id="fechaLimite" value="@fechaLimite">
                  </div>
                </div>
                <div class="w3-col m4" style="padding-left: 10px">
                  <div class="form-group">
					<label for="fechaLimite">Columna:</label>
					<select class='form-control' name="columnaId" id="columnaId">
						<option value=""></option>
					</select>
                  </div>
                </div>
              </fieldset>
              <div class="w3-row-padding">
                <div class="w3-half">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <span class="glyphicon glyphicon-save"></span> Guardar
                  </button>
                </div>
                <div class="w3-half">
                  <a href="@routes.GestionTareasController.listaTareas(idUsuario)" class="btn mybtn btn-lg btn-block">
                    <span class="glyphicon glyphicon-step-backward"></span> Cancelar
                  </a>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}
