@(administrados: List[Tablero], participados: List[Tablero],
  noRelacionados: List[Tablero], usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Lista de Tableros administrados, donde participas y disponibles.", scripts) {
    <h1> Listado de tableros del sistema </h1>

    <h2> Listado de tableros que administra @usuario.getLogin() </h2>
    <table class="table table-striped">
      <tr>
        <th>Tablero</th>
        <th>Acciones</th>
      </tr>
      @for(administrado <- administrados) {
        <tr>
          <td>@administrado.getNombre()</td>
          <td><a href="@routes.TableroController.detalleTablero(usuario.getId(), administrado.getId())">
              <span class="glyphicon glyphicon-eye-open"/></a></td>
        </tr>
      }
      <tr>
        <td><a href="@routes.TableroController.formNuevoTablero(usuario.getId())">
            <span class="glyphicon glyphicon-plus"/></a></td>
        <td><span class="glyphicon glyphicon-eye-close"/></td>
      </tr>
    </table>

    <h2> Listado de tableros en los que participa @usuario.getLogin() </h2>
    <table class="table table-striped">
      <tr>
        <th>Tablero</th>
        <th>Acciones</th>
      </tr>
      @for(participa <- participados) {
        <tr>
          <td>@participa.getNombre()</td>
          <td><a href="@routes.TableroController.detalleTablero(usuario.getId(), participa.getId())">
              <span class="glyphicon glyphicon-eye-open"/></a></td>
        </tr>
      }
    </table>

    <h2> Listado de tableros en los que puedes apuntarte </h2>
    <table class="table table-striped">
      <tr>
        <th>Tablero</th>
        <th>Acciones</th>
      </tr>
      @for(noRelacionado <- noRelacionados) {
        <tr>
          <td>@noRelacionado.getNombre()</td>
          <td><a href="@routes.TableroController.apuntarseATablero(usuario.getId(), noRelacionado.getId())">
              <span class="glyphicon glyphicon-plus"/></a>
              <a href="@routes.TableroController.detalleTablero(usuario.getId(), noRelacionado.getId())">
              <span class="glyphicon glyphicon-eye-open"/></a>
          </td>
        </tr>
      }
    </table>

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }
}
