@(tableros: List[Tablero], usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Tableros administrados por el usuario @usuario.getLogin()", scripts) {

    <h2> Listado de tableros administrados por @usuario.getLogin()</h2>

    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Administrador</th>
            <th>Participantes</th>
        </tr>
    @for(tablero <- tableros) {
        <tr>
            <td>@tablero.getNombre()</td>
            <td>@tablero.getAdministrador().getLogin()</td>
            <td>@if(tablero.getParticipantes() != null) {
              @tablero.getParticipantes()}</td>
        </tr>
      }

      <tr>
        <td><a href="@routes.TableroController.formNuevoTablero(usuario.getId())">
            <span class="glyphicon glyphicon-plus"/></a></td>
          <td><a href="@routes.UsuarioController.logout()">Salir</a></td>
          <td><a href="@routes.UsuarioController.detalleUsuario(usuario.getId())">Mi cuenta</a></td>
      </tr>

  </table>

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }
}
