@(administrados: List[Tablero], participados: List[Tablero],
  noRelacionados: List[Tablero], usuario: Usuario, mensaje: String)
@nav(usuario.getId, "Lista de Tableros") {
  <div class="container" style="padding-top: 100px">
    <div class="w3-row">
      <div class="mybackground w3-card-2 w3-hover-shadow" style="padding: 50px">
        <div class="w3-container">
          <div class="w3-row">
            <h1 style="text-align: center; padding-bottom: 20px; color: #313638">Listado de tableros del sistema</h1>
            <hr style="border-color: black">
          </div>
          <h2 style="text-align: center; padding-bottom: 20px; color: #313638">Listado de tableros que administras
            <button id="first" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-down"></button>
          </h2>
          <div class="w3-row" id="toggle" style="display: none; padding-bottom: 20px">
              <table class="w3-table w3-card-4">
                <tr>
                  <th>Tablero</th>
                  <th>Acciones</th>
                </tr>
                @for(administrado <- administrados) {
                  <tr>
                    <td>@administrado.getNombre()</td>
                    <td><a href="@routes.TableroController.detalleTablero(usuario.getId(), administrado.getId())"
                          class="btn btn-primary btn-md"><span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                  </tr>
                }
              </table>
              <div class="w3-row">
                <a href="@routes.TableroController.formNuevoTablero(usuario.getId())"
                  class="btn btn-primary btn-md btn-block shadow"><span class="glyphicon glyphicon-plus"></span>
                </a>
              </div>
          </div>
          <h2 style="text-align: center; padding-bottom: 20px; color: #313638">Listado de tableros en los que participas
            <button id="second" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-down"></button>
          </h2>
          <div class="w3-row" id="toggle2" style="display: none; padding-bottom: 20px">
            <table class="w3-table w3-card-4">
              <tr>
                <th>Tablero</th>
                <th>Acciones</th>
              </tr>
              @for(participa <- participados) {
                <tr>
                  <td>@participa.getNombre()</td>
                  <td><a href="@routes.TableroController.detalleTablero(usuario.getId(), participa.getId())"
                        class="btn btn-primary btn-md"><span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                  </td>
                </tr>
              }
            </table>
          </div>
          <h2 style="text-align: center; padding-bottom: 20px; color: #313638">Listado de tableros en los que puedes apuntarte
            <button id="third" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-down"></button>
          </h2>
          <div class="w3-row" id="toggle3" style="display: none; padding-bottom: 20px">
            <table class="w3-table w3-card-4">
              <tr>
                <th>Tablero</th>
                <th>Acciones</th>
              </tr>
              @for(noRelacionado <- noRelacionados) {
                <tr>
                  <td>@noRelacionado.getNombre()</td>
                  <td><a href="@routes.TableroController.detalleTablero(usuario.getId(), noRelacionado.getId())"
                          class="btn btn-primary btn-md">
                      <span class="glyphicon glyphicon-eye-open"/></a>
                      <a onmouseover="" style="cursor: pointer;" class="btn btn-primary btn-md"
                          onclick="add('@routes.TableroController.apuntarseATablero(usuario.getId(), noRelacionado.getId())')">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                  </td>
                </tr>
              }
            </table>
          </div>
          <div class="w3-row-padding" style="padding-top: 20px">
            <div class="w3-third">
              <a href="@routes.UsuarioController.detalleUsuario(usuario.getId())" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-user"></span> Mi cuenta
              </a>
            </div>
            <div class="w3-third">
              <a href="@routes.GestionTareasController.listaTareas(usuario.getId())" class="btn mybtn btn-lg btn-block">
                <span class="glyphicon glyphicon-list"></span> Listar mis tareas
              </a>
            </div>
            <div class="w3-third">
              <a href="@routes.TableroController.listarTableros(usuario.getId())" class="btn mybtn btn-lg btn-block">
                <span class="glyphicon glyphicon-list-alt"></span> Listar tableros
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w3-row" style="padding-top: 10px">
        @if(mensaje != null) {
          <div class="alert alert-success alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @mensaje
          </div>
        }
      </div>
    </div>
  </div>
}
